

<div class="container">
	<br>
		<hr class="hr-top">
			<div class="splash-spacer">
				<p>Hello! Welcome to the guide.</p>
			</div>
		<hr class="hr-top">

	<br>
</div>

<div class="context-space"> 
<button id="add">Add a context</button>
</div>