<div class="row">
<div class="col-xs-4 col-xs-offset-4 book" id="pcf">
<h1><a href="./book/docs-book-pivotalcf">docs-book-pivotalcf</a></h1>
</div>
<div class="col-xs-4 col-xs-offset-4 book" id="oss">
<h1><a href="./book/docs-book-cloudfoundry">docs-book-cloudfoundry</a></h1>
</div>
<div class="col-xs-4 col-xs-offset-4 book" id="pws">
<h1><a href="./book/docs-book-runpivotal">docs-book-runpivotal</a></h1>
</div>