<div class="row">
<div class="col-xs-4 col-xs-offset-4 book" id="pcf">
<h1><a href="./book/docs-book-pivotalcf">docs-book-pivotalcf</a></h1>
</div>
<div class="col-xs-4 col-xs-offset-4 book" id="oss">
<h1><a href="./book/docs-book-cloudfoundry">docs-book-cloudfoundry</a></h1>
</div>
<div class="col-xs-4 col-xs-offset-4 book" id="pws">
<h1><a href="./book/docs-book-runpivotal">docs-book-runpivotal</a></h1>
</div>

<h1>Candid.ly</h1>
	<div class="splash-header">
		<hr class="hr-top">
			<div class="splash-spacer">
				<br>
				<h3 class="fil q"><a href="./book/docs-book-pivotalcf">docs-book-pivotalcf</a></h3>
				<h2 class="fil q"><a href="./book/docs-book-runpivotal">docs-book-runpivotal</a></h2>
				<br>
				<h3 class="fil q"><a href="./book/docs-book-cloudfoundry">docs-book-cloudfoundry</a></h3>
				<br>
				<br>
				<h2 class="ans">...Get real answers.</h2>
				<br>
				<br>
				<br>
				<h2 class="fil tag"></h2>
			</div>
		<hr class="hr-bottom">
  <br>
</div>

<div class="container">
<a  href="/notes/new">Make a new note!</a>
</div>

		<ul class="container">
		<p> <a href=".">link</a></p>
	</ul>


<p>=====</p>
<div class="row">
<div class="col-xs-4 col-xs-offset-4 book" id="pcf">
<h1><a href="./book/docs-book-pivotalcf">docs-book-pivotalcf</a></h1>
</div>
<div class="col-xs-4 col-xs-offset-4 book" id="oss">
<h1><a href="./book/docs-book-cloudfoundry">docs-book-cloudfoundry</a></h1>
</div>
<div class="col-xs-4 col-xs-offset-4 book" id="pws">
<h1><a href="./book/docs-book-runpivotal">docs-book-runpivotal</a></h1>
</div>

