---
title: Style Checker Release Notes
---

<strong><%= modified_date %></strong>

## <a id="11"></a> v11

**Release Date: August 6, 2019**

### Changes

* Flags more style errors
* Flags images that lack alternative text


## <a id="10"></a> v10

**Release Date: August 1, 2019**

### Changes

* Flags Markdown formatting tags placed between HTML tags
* Flags trailing whitespace after closing ``` tags


## <a id="9"></a> v9

**Release Date: July 24, 2019**

### Changes

* Flags more style errors


## <a id="8"></a> v8

**Release Date: July 9, 2019**

### Changes

* Flags more style errors
* Ignores bold text, which usually depicts UI text and button names


## <a id="7"></a> v7

**Release Date: June 11, 2019**

### Change

* Flags more style errors


## <a id="6"></a> v6

**Release Date: June 3, 2019**

### Change

* Better recognizes code, reducing the rate of false flags by about 5%


## <a id="5"></a> v5

**Release Date: May 16, 2019**

### Changes

* Flags more style errors
* Less likely to create false flags based on vague rules


## <a id="4"></a> v4

**Release Date: April 16, 2019**

### Change

* Flags more style errors


## <a id="3"></a> v3

**Release Date: March 29, 2019**

### Change

* Ignores most code, reducing the rate of false flags by about 90%


## <a id="2"></a> v2

**Release Date: March 8, 2019**

### Change

* Flags cross-reference formatting style errors


## <a id="1"></a> v1

**Release Date: February 21, 2019**

### Launch

* Flags style errors
