---
title: Style Checker Release Notes
---

<strong><%= modified_date %></strong>

## <a id="17"></a> v1.7

**Release Date: July 10, 2019**

### Features

New features and changes in this release:

* Contraction rules
* Rules generated from Style Committee meeting on July 10, 2019
* New style tips
* Style Checker ignores bold text as it usually depicts UI text and button names
